.innerCurrencies {
  display: none;
}

@media screen and (min-width: 768px) {
  .innerCurrencies {
    display: block;
  }

  .container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1190px) {
  .innerCurrencies {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 30px;
  }
}

@media screen and (min-width: 1192px) {
  .container {
    display: inline-block;
    flex-direction: row;
  }

  .innerCurrencies {
  }
}
