@font-face {
  font-family: MyHelveticaBold;
  src: url('../../../assets/fonts/HelveticaNeueCyr-Bold.woff');
  font-weight: bold;
}

.table {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  color: #3f4040;
  font-family: MyHelveticaBold;
  font-size: 11px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.incColor {
  color: #415b7d;
  font-weight: 800;
}

.conColor {
  color: #dd881f;
  font-weight: 800;
}

.tr {
  padding: 10px;
}

tr:nth-last-child(even) {
  background-color: #f3f6f6;
}

.th,
.td {
  padding: 15px;
  text-align: center;
}

.th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0 auto;
    height: 60vh;
    width: 320px;
    overflow-y: auto;
  }

  .table {
    margin-top: 40px;
    width: 306px;
    background-color: #f2f4ee;
  }

  .thead {
    display: none;
  }

  .tr {
    margin-bottom: 10px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 11px 7px 14px -8px rgba(158, 158, 158, 1);
  }

  .inc {
    border-left: 7px solid #7e8c9e;
  }

  .con {
    border-left: 7px solid #dd881f;
  }

  .tr:nth-last-child(even) {
    background-color: #fff;
  }

  td:nth-last-child(even) {
    background-color: #f3f6f6;
  }

  .td {
    display: block;
    text-align: right;
    font-size: 13px;
  }

  .td:last-child {
    border-bottom: 0;
  }

  .td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    height: 380px;
    overflow-y: auto;
    border-radius: 5px;
  }

  .th,
  .td {
    padding: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    height: 500px;
    overflow-y: auto;
  }

  .thead {
    background-color: #fff;
  }

  .table {
    background-color: #f2f4ee;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #3f4040;
    font-size: 13px;
  }
}
