.container {
  width: 790px;
  height: 500px;
  overflow-y: scroll;
}

.button {
  position: fixed;
  left: 600px;
  top: 400px;
  background-color: #f24537;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  outline: none;
}

.button:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}

.table {
  border: 1px solid #ccc;
  width: 768px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  color: #3f4040;
}

.tr {
  padding: 5px;
}

tr:nth-last-child(even) {
  background-color: #f3f6f6;
}

.th,
.td {
  padding: 10px;
  text-align: center;
}

.th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 306px;
  }

  .button {
    position: fixed;
    left: 150px;
    top: 60%;
    background-color: #f24537;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    outline: none;
  }

  .button:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
  }

  .table {
    border: 0;
    width: 306px;
  }

  .thead {
    display: none;
  }

  .tr {
    margin-bottom: 10px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 20px;
  }

  tr:nth-last-child(even) {
    background-color: #fff;
  }

  td:nth-last-child(even) {
    background-color: #f3f6f6;
  }

  .td {
    display: block;
    text-align: right;
    font-size: 13px;
  }

  .td:last-child {
    border-bottom: 0;
  }

  .td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
