.table {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  color: #3f4040;
}

.incColor {
  color: #7e8c9e;
}

.conColor {
  color: #dd881f;
}

.tr {
  padding: 5px;
}

tr:nth-last-child(even) {
  background-color: #f3f6f6;
}

.th,
.td {
  padding: 10px;
  text-align: center;
}

.th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow-y: scroll;
  }
  .th,
  .td {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
    width: 320px;
    margin: 0 auto;
    height: 400px;
    overflow-y: scroll;
  }

  .table {
    margin-top: 40px;
    border: none;
    width: 300px;
  }

  .thead {
    display: none;
  }

  .tr {
    margin-bottom: 10px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 11px 7px 16px -6px rgba(158, 158, 158, 1);
  }

  .inc {
    border-left: 5px solid #7e8c9e;
  }

  .con {
    border-left: 5px solid #dd881f;
  }

  .tr:nth-last-child(even) {
    background-color: #fff;
  }

  td:nth-last-child(even) {
    background-color: #f3f6f6;
  }

  .td {
    display: block;
    text-align: right;
    font-size: 13px;
  }

  .td:last-child {
    border-bottom: 0;
  }

  .td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 883px;
    height: auto;
    overflow-y: scroll;
  }
  .table {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #3f4040;
  }
}
