.button {
  position: fixed;
  background-color: #f24537;
  width: 65px;
  height: 65px;
  bottom: 50px;
  right: 50px;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  outline: none;
}

.button:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .button {
    left: 40%;
  }
}
