.button {
  position: fixed;
  left: 200px;
  top: 100px;
  background-color: #f24537;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  outline: none;
}

.button:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}

@media screen and (max-width: 600px) {
  .button {
    /* position: fixed; */
    display: block;
    /* position: absolute; */
    position: fixed;
    /* position: fixed; */
    /* bottom: 0px; */
    /* right: 90px; */
    /* position: sticky; */
    /* margin: 0 auto; */
    top: 400px;
    right: 215px;

    background-color: #f24537;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    outline: none;
  }

  .button:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
  }
}
