@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/rubik-v9-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'),
    url('../../assets/fonts/rubik-v9-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../assets/fonts/rubik-v9-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../assets/fonts/rubik-v9-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../../assets/fonts/rubik-v9-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../assets/fonts/rubik-v9-latin-regular.svg#Rubik') format('svg');
  /* Legacy iOS */
}

body {
  box-sizing: border-box;
  font-family: 'Rubik';
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #fff;
}

.titleDiv {
  width: 100%;
}

.backBtn {
  width: 22px;
  height: 10px;
  background: url('../../assets/PNG/modal/arrow.png');
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  z-index: 99999999;
}

.title {
  margin: 0;
  font-family: 'Rubic', sans-serif;

  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.radiosDiv {
  margin-top: 30px;
  width: 184px;
  display: flex;
  justify-content: space-between;
}

.innerRadioDiv {
  width: 63px;
  display: flex;
  justify-content: space-between;
}

.radio + label {
  font-family: 'Rubik';
  font-weight: normal;
  font-size: 14px;
  opacity: 0.5;
}

.radio:checked + label {
  color: #284060;
  opacity: 1;
}

.radioCost:checked + label {
  color: #fc842c;
}

.select {
  margin-top: 30px;
  width: 280px;
  border: solid 1px #b9c9d4;
  border-radius: 6px;
}

.inputsDiv {
  width: 280px;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.dateInput {
  display: flex;
  width: 130px;
  height: 38px;
  border: solid 2px #b9c9d4;
  border-radius: 6px;
  justify-content: space-between;
}

.comment {
  width: 280px;
  margin: 0;
  margin-top: 30px;
  font-family: 'Rubik';
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.textarea {
  width: 280px;
  margin-top: 18px;
  padding: 6px;
  resize: none;
  border: solid 2px #b9c9d4;
  border-radius: 6px;
  line-height: 18px;
}

.addButton {
  border: none;
  border-radius: 6px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-family: 'Rubik';
  font-weight: bold;
  width: 280px;
  height: 40px;
}

@media screen and (max-width: 766px) {
  .backdrop {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }

  .modal {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 93%;
    flex-direction: column;
  }

  .titleDiv {
    height: 40px;
    padding-left: 50px;
    background-color: #3a5374;
    position: relative;
  }

  .title {
    margin-top: 14px;
    color: #fff;
  }

  .buttonDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 68px;
    background-color: #738397;
    text-align: center;
  }

  .addButton {
    margin-top: 14px;
    border: none;
    border-radius: 6px;
    background-color: #fc842c;
    color: #fff;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: bold;
  }

  .addButton:active {
    background-color: #e27a2b;
    box-shadow: 0 3px 0 3px rgba(226, 122, 43, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    width: 100%;
    height: 100%;
  }

  .modal {
    width: 66%;
    padding-bottom: 54px;
    border-radius: 6px;
  }

  .titleDiv {
    height: 74px;
    padding-top: 32px;
    background-color: #f1f5f6;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .buttonDiv {
    margin-top: 30px;
  }

  .addButton {
    background-color: #415b7d;
  }

  .addButton:active {
    background-color: #3d5575;
    box-shadow: 0 3px 0 3px rgba(58, 83, 116, 0.25);
  }
}

@media screen and (min-width: 1192px) {
  .modal {
    width: 42%;
  }
}
