body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media screen and (max-width: 767px) {
  .backdrop {
    display: none;
  }

  .modal {
    width: 100%;
  }

  .form {
    width: 90vw;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  max-width: 480px;
  width: 100%;
  background-color: #fff;
}
