.container_table {
  position: relative;
  margin: 0 auto;
  height: 60vh;
  width: 320px;
}

@media screen and (min-width: 768px) {
  .container_table {
    width: 740px;
    height: 580px;
  }
}

@media screen and (min-width: 1200px) {
  .container_table {
    width: 830px;
    height: 580px;
  }
}
