@import url('../../../styles/colors.css');

@media screen and (min-width: 320px) {
  .balanceDiv {
    padding: 0px;
    margin: 0 auto;
    width: 306px;
    height: 90px;
    color: #fff;
    background-color: var(--SidebarElemHoverColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  .innerValue {
    display: flex;
    justify-content: center;
  }

  .balanceText {
    margin: 0px;
    margin-bottom: 8px;
    padding: 0px;
  }

  .balanceValue {
    margin: 0px;
    padding: 0px;
  }

  .balanceCurr {
    padding-left: 2px;
  }
}

@media screen and (min-width: 768px) {
  .balanceDiv {
    display: inline-flex;
    background-color: rgba(251, 253, 252, 0);
    color: #000;
    height: auto;
    margin: 0px;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 8px;
  }

  .balanceText {
    margin: 0px;
    margin-right: 2px;
    margin-left: 8px;
    color: #74858b;
    font-size: 15px;
  }

  .balanceValue {
    color: var(--NotSelectedPage_Balance_page);
    font-size: 15px;
    text-align: center;
  }

  .balanceCurr {
    font-size: 15px;
    color: var(--NotSelectedPage_Balance_page);
  }
}

@media screen and (min-width: 1192px) {
  .balanceDiv {
    width: 314px;
    height: 90px;
    background-color: var(--SidebarElemBGColor);
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;

    -webkit-box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
  }

  .innerValue {
    margin-right: 30px;
  }

  .balanceText {
    color: #fff;
    margin-left: 30px;
  }

  .balanceValue {
    color: #fff;
  }

  .balanceCurr {
    margin: 0px;
    padding: 0px;
    margin-left: 2px;
    color: #fff;
  }
}
