@import url('../../styles/colors.css');
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap&subset=latin-ext');
/* @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap'); */

.header {
  max-width: 100%;
  /* height: 80px; */
  display: flex;
  align-items: center;
  padding: 7px 10px 9px 11px;
  justify-content: space-between;
  background-color: var(--BGColorMobile);
  /* box-shadow: 1.5px 2.598px 3px 0px rgba(1, 1, 0, 0.12); */
  box-shadow: 0px 0px 2px 2px rgba(1, 1, 0, 0.4);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 306px;
  height: auto;
  margin: 0 auto;
}

.headerLogo,
.headerName {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutText {
  display: none;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.headerUser {
  font-size: 17px;
  margin-right: 10px;
  font-family: sans-serif;
  color: var(--ColorTextMobile);
}

.headerLogoLink {
  text-decoration: none;
  color: var(--WalletText);
  display: flex;
}

.headerText {
  font-size: 20px;
  margin: 0;
  font-family: 'Saira Stencil One';
  color: var(--ColorTextMobile);
}

.headerButton {
  background-color: var(--BGColorMobile);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.logout {
  width: 16px;
  height: 16px;
  /* margin: 0 10px; */
}

@media (min-width: 768px) {
  .header {
    background-color: rgb(255, 255, 255);
    padding: 24px 33px 32px 32px;
    margin-bottom: 4px;
  }

  .headerUser {
    padding-top: 10px;
    color: var(--ColorTextMobile);
  }

  .headerContainer {
    width: 748px;
  }

  .headerUser::after {
    content: '';
    width: 0;
    height: 1px;
    border: 1px solid var(--ColorTextMobile);
    margin-left: 20px;
    background-color: rgb(107, 125, 131);
  }

  .headerButton {
    padding-top: 12px;
  }

  .logoutText {
    display: inline;
    color: var(--ColorTextMobile);
  }
  /* 
  .headerContainer {
    width: 100%;
  } */

  .logo {
    font-size: 20px;
    /* margin: 0; */
  }

  .logout {
    /* width: 16px;
    height: 16px; */
    margin: 0 10px;
  }

  .headerButton {
    background-color: var(--BGColor);
    padding-top: 12px;
    font-size: 16px;
  }
}

/* @media screen and (max-width: 767px) { */
/* .header { */
/* max-width: 767px; */
/* height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 2px rgba(1, 1, 0, 0.4);
    margin-bottom: 4px; */
/* } */
/* } */

@media screen and (min-width: 768px) {
  .AsyncCurrencies {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .headerContainer {
    width: 1192px;
  }
}
