.header {
  min-width: 1192px;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 7px 10px 9px 11px;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 1.5px 2.598px 3px 0px rgba(1, 1, 0, 0.12); */
  box-shadow: 0px 0px 2px 2px rgba(1, 1, 0, 0.4);
  margin-bottom: 4px;
}

.headerLogo,
.headerName {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.headerUser {
  font-size: 17px;
  margin-right: 10px;
  padding-top: 10px;
  font-family: sans-serif;
}

.headerUser::after {
  content: '';
  width: 0;
  height: 1px;
  border: 1px solid black;
  margin-left: 20px;
  background-color: rgb(107, 125, 131);
}

.headerText {
  font-size: 20px;
  margin: 0;
  font-family: sans-serif;
}

.headerButton {
  border: none;
  padding-top: 12px;
  font-size: 16px;
}

.logout {
  width: 16px;
  height: 16px;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .header {
    background-color: rgb(255, 255, 255);
    padding: 24px 33px 32px 32px;
    /* margin-bottom: 3px; */
  }

  .logo {
    font-size: 20px;
    /* margin: 0; */
  }
}

@media screen and (max-width: 767px) {
  .headr {
    /* max-width: 767px; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 2px rgba(1, 1, 0, 0.4);
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 768px) {
  .AsyncCurrencies {
    display: none;
  }
}
