@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/rubik-v9-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'),
    url('../../assets/fonts/rubik-v9-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../assets/fonts/rubik-v9-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../assets/fonts/rubik-v9-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../../assets/fonts/rubik-v9-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../assets/fonts/rubik-v9-latin-regular.svg#Rubik') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Nova Slim';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/nova-slim-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Nova Slim'), local('NovaSlim'),
    url('../../assets/fonts/nova-slim-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../assets/fonts/nova-slim-v11-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../assets/fonts/nova-slim-v11-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('../../assets/fonts/nova-slim-v11-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../assets/fonts/nova-slim-v11-latin-regular.svg#NovaSlim')
      format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Baloo Bhaina';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/baloo-bhaina-v5-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Baloo Bhaina Regular'), local('BalooBhaina-Regular'),
    url('../../assets/fonts/baloo-bhaina-v5-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../assets/fonts/baloo-bhaina-v5-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../assets/fonts/baloo-bhaina-v5-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../../assets/fonts/baloo-bhaina-v5-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../assets/fonts/baloo-bhaina-v5-latin-regular.svg#BalooBhaina')
      format('svg');
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  background-color: #f2f4ee;
  margin: 0 auto;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-family: 'Rubik';
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .innerContainer {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-image: url('../../assets/img/bg.png');
    background-position: bottom;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }

  .leftSideBar {
    padding: 34px 0 34px 0;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: none;
  }

  .container {
    width: 1192px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
    font-family: 'Rubik';
    font-weight: normal;
  }

  .leftSideBar {
    position: relative;
    display: block;
    width: 30%;
    display: flex;
    padding-top: 34px;
  }

  .rightSideBar {
    position: relative;
    display: block;
    width: 70%;
    padding-top: 34px;
  }
}
