.div {
  width: 320px;
  height: 500px;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  vertical-align: text-bottom;
  color: #455d7c;
}

.text {
  font-size: 13px;
}

.title {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .div {
    width: 100%;
    height: 500px;
    font-size: 35px;
  }

  .text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .div {
    width: 100%;
    height: 500px;
    font-size: 40px;
  }

  .text {
    font-size: 20px;
  }
}
