.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 100%;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
  transition: all 0.2s;
  width: 100%;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  transition: all 0.2s;
}

.strength-Weak::-webkit-progress-value {
  background-color: #37e178;
}

.strength-Good::-webkit-progress-value {
  background-color: #e18337;
}

.strength-Strong::-webkit-progress-value {
  background-color: #e18337;
}

.strength-Very-Strong::-webkit-progress-value {
  background-color: #e18337;
}

.test {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 45%;
  text-align: center;
  color: white;
  font-size: 24px;
  bottom: 5%;
}

.formSignIn {
  display: flex;
  margin: auto;
  min-width: 500px;
  flex-direction: column;
  padding: 10px;
}

.modal {
  justify-content: center;
  width: 100%;
  background-color: #f9fffa;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.signInButton {
  width: 280px;
  margin: 0 auto;
  height: 38px;
  background-color: #e18337;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  margin-top: 35px;
}

.signInLogo {
  margin-top: 7px;
  width: 26px;
  height: 24px;
  margin-right: 10px;
}

.signInLogoContainer {
  display: flex;
  justify-content: center;
  margin: 38px 0px 30px;
}

.signInEmail {
  background-color: #f9fbfb;
  height: 56px;
  border: none;
  margin-bottom: 16px;
  border-radius: 2px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23dbe1e6' %3e%3cpath d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z' /%3e%3cpath d='M0 0h24v24H0z' fill='none' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 16px;
  padding-left: 50px;
  color: #dbe1e6;
  font-size: 15px;
}

.signInPassword {
  composes: signInEmail;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' width='23' height='23' data-prefix='fas' data-icon='lock' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-lock fa-w-14 fa-2x'%3e%3cpath fill='%23dbe1e6' d='M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z' class=''%3e%3c/path%3e%3c/svg%3e");
}

.signInName {
  composes: signInEmail;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' width='23' height='23' data-prefix='far' data-icon='user' class='svg-inline--fa fa-user fa-w-14' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='%23dbe1e6' d='M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z'/%3e%3c/svg%3e");
}

.formContainer {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 550px;
  height: 390px;
  position: absolute;
  top: 50%;
  left: 72.5%;
  transform: translate(-50%, -50%);
}

.iphoneIMG {
  top: 50%;
  left: 22.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 650px;
  width: 294px;
  background-image: url('../Authentication/img/iPhone 62x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
}

.backgroundIMG {
  height: 100vh;
  width: 45%;
}

/* .financePar {
  position: fixed;
  color: rgb(251, 250, 250);
  bottom: 5%;
  left: 16%;
  font-size: 24px;
} */

.inputFeedback {
  width: 100%;
}

@media screen and (max-width: 1084px) {
  .formContainer {
    min-width: 320px;
  }

  .formSignIn {
    min-width: 300px;
  }
}

@media screen and (max-width: 766px) {
  .iphoneIMG {
    display: none;
  }

  .backgroundIMG {
    width: 100%;
  }

  .formContainer {
    top: 50%;
    left: 50%;
  }

  .financePar {
    left: 40%;
  }

  .test {
    width: 100%;
  }

  .formSignIn {
    min-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .backgroundIMG {
    display: none;
  }

  .formContainer {
    background-color: transparent;
    box-shadow: none;
  }
}
