* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signUpWrapp {
  padding: 50px 20px;
  padding-bottom: 0;
  margin: 0 auto;
}

.imgWrapp {
  display: none;
}

.walletWrapp {
  margin-bottom: 24px;
  text-align: center;
}

.walletTitle {
  font-size: 24px;
}

.icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 275px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: flex-start;
}

.financeTitle {
  margin: 0;
  padding: 0;
  display: none;
}

.input {
  border-radius: 6px;
  border: 1px solid transparent;
  position: relative;
  height: 48px;
  margin-bottom: 12px;
  width: 275px;
  border: none;
  background-color: #f9fbfb;
  padding-left: 58px;
  outline: none;
}

.input:focus {
  border-bottom: 1px solid #e18337;
}

.errorInput {
  border: 1px solid red;
}

.input::placeholder {
  font-size: 13px;
  color: #b9c9d4;
}

.inputIcon {
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 15px;
}

.email {
  background-image: url('./icons/email.png');
}

.name {
  background-image: url('./icons/name.png');
}

.password {
  background-image: url('./icons/password.png');
}

.button {
  box-shadow: 0px 3px 3px 0px rgba(226, 122, 43, 0.2);
  width: 275px;
  height: 39px;
  margin: 0 auto;
  background-color: #e18337;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  outline: none;
  margin-top: 35px;
}

.button:focus,
.button:hover {
  border: 2px solid #e18337;
  background-color: #fff;
  color: #e18337;
}

.link {
  font-size: 12px;
  display: block;
  width: 40px;
  margin: 0 auto;
  color: #6b7d83;
  padding: 0;
  text-decoration: underline;
}

.linkText {
  text-decoration: none;
  display: block;
  font-size: 12px;
  text-aling: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .signUpWrapp {
    padding: 0;
  }

  .signUpWrapp {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 140px;
    background-image: url('./img/tabletBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formWrapp {
    width: 550px;
    text-align: left;
    margin: 0 auto;
    background-color: #fff;
    padding: 34px;
    background-color: #ffffff;
    padding: 30px 0;
    border-radius: 10px;
    box-shadow: 20px 40px 120px 0 rgba(112, 124, 130, 0.3);
    margin-bottom: 100px;
  }

  .form {
    width: 430px;
  }

  .input {
    width: 430px;
  }

  .financeTitle {
    display: block;
    margin-bottom: 70px;
    font-size: 24px;
    color: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .signUpWrapp {
    flex-direction: row;
    padding: 0;
  }

  .imgWrapp {
    height: 100vh;
    display: block;
    padding-top: 130px;
    min-width: 47%;
    background-image: url('./img/tabletBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .signUpWrapp {
    background-image: none;
  }

  .formWrapp {
    margin-bottom: 0;
  }

  .walletWrapp {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    margin: 0;
    margin-right: 14px;
  }

  .phoneBackground {
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
  }

  .financeTitle {
    display: none;
  }

  .financeDesctopTitle {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 70px;
    font-size: 24px;
    color: #fff;
  }
}
