.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 100%;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
  transition: all 0.2s;
  width: 100%;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  transition: all 0.2s;
}

.strength-Weak::-webkit-progress-value {
  background-color: #f25f5c;
}
.strength-Good::-webkit-progress-value {
  background-color: #ffe066;
}
.strength-Strong::-webkit-progress-value {
  background-color: #70c1b3;
}

.strength-Very-Strong::-webkit-progress-value {
  background-color: #077516;
}
