.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 100%;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
  transition: all 0.2s;
  width: 100%;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  transition: all 0.2s;
}

.strength-Weak::-webkit-progress-value {
  background-color: #37e178;
}

.strength-Good::-webkit-progress-value {
  background-color: #e18337;
}

.strength-Strong::-webkit-progress-value {
  background-color: #e18337;
}

.strength-Very-Strong::-webkit-progress-value {
  background-color: #e18337;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  height: 100vh;
}

.imgContainer {
  width: 45%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(38, 74, 106, 0.8),
      rgba(38, 74, 106, 0.8)
    ),
    url('./img/sq.png');
  background-size: 100% 100%;
  display: none;
}

.imgRegist {
  width: 45%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(38, 74, 106, 0.8),
      rgba(38, 74, 106, 0.8)
    ),
    url('./img/bg-regist.png');
  background-size: 100% 100%;
  display: none;
}

.formContainer {
  width: 100%;
  padding-top: 32%;
}

.signInLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  height: 10%;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.formSignIn {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formSignUp {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.signInLogo {
  margin-top: 25px;
  width: 26px;
  height: 24px;
  /* margin-right: 10px; */
}

.logoText {
  font-size: 24px;

  font-weight: 800;
  padding-top: 18px;
  letter-spacing: 2px;
}

.signInEmail,
.signInName {
  width: 85%;
  padding: 11px 10px 16px 54px;
  border: none;
  margin-bottom: 15px;
  background-color: #f9fbfb;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: top 12px left 17px;
  border-radius: 5px;
}

.signInEmail {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23dbe1e6' %3e%3cpath d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z' /%3e%3cpath d='M0 0h24v24H0z' fill='none' /%3e%3c/svg%3e");
}

.signInEmail::placeholder {
  color: #dbe1e6;
}

.signInPassword {
  composes: signInEmail;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' width='23' height='23' data-prefix='fas' data-icon='lock' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-lock fa-w-14 fa-2x'%3e%3cpath fill='%23dbe1e6' d='M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z' class=''%3e%3c/path%3e%3c/svg%3e");
}

.signInName {
  composes: signInEmail;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' width='23' height='23' data-prefix='far' data-icon='user' class='svg-inline--fa fa-user fa-w-14' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='%23dbe1e6' d='M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z'/%3e%3c/svg%3e");
}

.signInButton {
  width: 280px;
  margin: 0 auto;
  height: 38px;
  background-color: #e18337;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  margin-top: 35px;
}

.signInButton:active {
  background-color: #ca7935;
}

.signUpLink {
  font-size: 15px;
  width: 80%;
  text-align: center;
  padding: 10px;
  border: none;
  margin-bottom: 15px;
  color: #6b7d83;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .modal {
    background: linear-gradient(
        to bottom,
        rgba(38, 74, 106, 0.8),
        rgba(38, 74, 106, 0.8)
      ),
      url('./img/sq.png');
    background-size: 100% 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .registerForm {
    width: 550px;
    height: 535px;
    background-color: #ffffff;
    padding: 0;
    border-radius: 10px;
    box-shadow: 20px 40px 120px 0 rgba(112, 124, 130, 0.3);
  }

  .signInLogo {
    margin-right: 10px;
  }

  .formSignIn {
    width: 550px;
    height: 395px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
  }

  .formSignUp {
    width: 550px;
    height: 395px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
  }

  /* .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
  } */

  .signInLogoContainer {
    flex-direction: row;
    width: 21.5%;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
    width: 550px;
    height: 395px;
    background-color: #ffffff;
    border-radius: 5px;
    /* box-shadow: 20px 40px 120px 0 rgba(112, 124, 130, 0.3); */
    padding-top: 10px;
  }

  .logoText {
    font-size: 24px;
    font-weight: 800;
    padding-top: 18px;
    letter-spacing: 2px;
  }

  .signInEmail,
  .signInName {
    width: 80%;
    padding: 22px 10px 17px 58px;
    background-position: top 19px left 21px;
  }

  /* .signInEmail {
    width: 100%;
  } */

  .signInButton {
    width: 52%;
    margin-bottom: 25px;
  }

  .signUpLink {
    font-size: 12px;
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 1192px) {
  .modal {
    background: #ffffff;
    flex-direction: row;
  }

  .imgContainer {
    background: linear-gradient(
        to bottom,
        rgba(38, 74, 106, 0.8),
        rgba(38, 74, 106, 0.8)
      ),
      url('./img/sq.png');
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    width: 47%;
  }

  .imgRegist {
    background: linear-gradient(
        to bottom,
        rgba(38, 74, 106, 0.8),
        rgba(38, 74, 106, 0.8)
      ),
      url('./img/bg-regist.png');
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    width: 47%;
  }

  .formContainer {
    width: 71%;
    padding-top: 0%;
    display: flex;
    justify-content: center;
  }

  .registerForm {
    /* height: 55%; */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 20px 40px 120px 0 rgba(112, 124, 130, 0.3);
    padding: 20px;
  }

  .formSignIn {
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 20px 40px 120px 0 rgba(112, 124, 130, 0.3); */
    padding: 20px;
  }

  .signInLogoContainer {
    width: 23.5%;
    margin-top: 2px;
    margin-bottom: 25px;
  }

  .signInEmail,
  .signInName {
    width: 85%;
    padding: 22px 10px 17px 58px;
    background-position: top 23px left 20px;
  }

  .signInButton {
    width: 55%;
    padding: 10px 0 12px 0;
  }
}

/* .Frame {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 17.321px 40px 0px rgba(107, 125, 131, 0.3);
  position: absolute;
  left: 621px;
  top: 158px;
  width: 550px;
  height: 535px;
  z-index: 12;
} */
