@font-face {
  font-family: MyHelveticaBold;
  src: url('../../assets/fonts/HelveticaNeueCyr-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: MyHelveticaRoman;
  src: url('../../assets/fonts/HelveticaNeueCyr-Roman.woff');
  font-weight: bold;
}

.container {
  /* position: absolute; */
  /* top: 10px; */
  width: 100%;
  min-width: 320px;
  max-width: 540px;

  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 20px;
}

.title {
  display: none;
}

.statsSelectContainer {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-around;
}

.innerSelectMonth,
.innerSelectYear {
  width: 40%;
}

/* 
.innerStatsContainer {
} */

.innerDiagramContainer {
  /* width: 100%; */
  margin-bottom: 16px;
}

.innerDiagram {
  width: 100%;
  height: 350px;
}

.total {
  font-family: MyHelveticaBold;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.costs,
.costsTotal {
  margin-bottom: 6px;
}

.costsTotal {
  text-align: right;
  color: #ff802a;
}

@media screen and (min-width: 700px) {
  .container {
    margin: 0 auto;
    padding: 0px;
    display: block;
    width: 98%;
    max-width: 700px;
    height: 680px;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
  }

  .title {
    font-family: MyHelveticaBold;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 28px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    background-color: #284060;
    color: white;
    padding: 20px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .innerStatsContainer {
    margin: 0 auto;
    width: 80%;
    padding-right: 30px;
  }

  .innerDiagram {
    width: 80%;
    margin: 0 auto;
    height: 560px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: block;
    width: 856px;
    height: 680px;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 38px 69px -12px rgba(0, 0, 0, 0.6);
  }

  /* .title {
    font-family: MyHelveticaBold;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 28px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    background-color: #284060;
    color: white;
    padding: 20px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  } */
  .flexContainer {
    display: flex;
    justify-content: space-between;
  }

  .statsSelectContainer {
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    justify-content: space-between;
  }

  .innerSelectMonth,
  .innerSelectYear {
    width: 50%;
  }

  .innerStatsContainer {
    width: 362px;
    padding-right: 30px;
  }

  .innerDiagramContainer {
    /* margin: 0 auto; */
    width: 500px;
    padding-top: 30px;
    position: relative;
  }

  .innerDiagram {
    width: 100%;
    /* position: absolute;
    left: 40px; */
    margin: 0 20px;
    width: 100%;
    height: 500px;
    margin: 0;
  }

  .total {
    font-family: MyHelveticaBold;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
  }

  .costs,
  .costsTotal {
    margin-bottom: 6px;
  }

  .costsTotal {
    text-align: right;
    color: #ff802a;
  }

  .innerSelectMonth,
  .innerSelectYear {
    width: 48%;
  }
}
